{% extends 'base/base_home.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 text">
    <h1 class="text-center fw-bold mb-4">Perfil de Usuario</h1>
    <div class="row">
        <div class="col-md-4 text-center">
            {% if user.imagen_perfil %}
                <img src="{{ user.imagen_perfil.url }}" class="rounded-circle img-fluid" alt="Imagen de perfil">
            {% else %}
                
                <img src="{% static '/img/perfil_defecto.jpg' %}" class="rounded-circle img-fluid" alt="Sin imagen">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p><strong>CI:</strong> {{ user.CI }}</p>
            <p><strong>Teléfono:</strong> {{ user.telefono }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Domicilio:</strong> {{ user.domicilio }}</p>
            <p><strong>Fecha de Registro:</strong> {{ user.fecha_de_registro|date:"d-m-Y H:i" }}</p>

            <div class="mt-3">
                <a href="{% url 'editar_perfil' %}" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Ver/Editar Perfil
                </a>
                <a href="{% url 'restablecer_contrasena' %}" class="btn btn-danger">
                    <i class="fas fa-key"></i> Restablecer Contraseña
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
