{% extends 'base/base_home.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text">
        <h1 class="text-center fw-bold mb-4">Panel de Pedidos</h1>
    </div>

    <!-- Barra de búsqueda -->
    <div class="input-group mb-3">
        <form method="GET" action="{% url 'mod_pedidos_home' %}">
            <input type="text" class="form-control" name="search" placeholder="Buscar por CI o nombres" value="{{ search_term }}">
        </form>
        <button type="submit" class="btn btn-dark">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <!-- Tabla de pedidoss -->
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Monto Pagado</th>
                    <th>Monto Total</th>
                    <th>Fecha de registro</th>
                    <th>Beneficiario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedidos in pedidos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pedidos.id_pedido }}</td>
                    <td>{{ pedidos.id_cliente.nombre }} {{ pedidos.id_cliente.apellido }}</td>
                    <td>
                        <a href="{% url 'ver_productos_pedido' pedidos.id_pedido %}" class="btn btn-success">
                            <i class="bx bx-store icon"></i> Ver Productos
                        </a>
                    </td>
                    <td>{{ pedidos.monto_pagado }} Bs</td>
                    <td>{{ pedidos.costo_total }} Bs</td>
                    <td>{{ pedidos.fecha_registro|date:"d-m-Y H:i" }}</td>
                    <td>{{ pedidos.beneficiario }}</td>

                    <td>
                        <div class=" justify-content-center">
                            <a href="{% url 'ver_detalle_pedido' pedidos.id_pedido %}" class="btn btn-info btn-sm me-2" title="Ver"> 
                                <i class="fas fa-eye"></i>
                                Ver
                            </a>
                            <a href="javascript:void(0);" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteUsuario({{ pedidos.id_pedido }});">
                                <i class="fas fa-trash-alt"></i>
                                Eliminar
                             </a>
                             <!-- <a href="javascript:void(0);" class="btn btn-success btn-sm me-2" title="Imprimir" onclick="abrirImpresion({{ pedidos.id_pedido }});">
                                  <i class="fas fa-print"></i> Imprimir
                             </a> -->
                             <a href="{% url 'imprimir_pedido' pedidos.id_pedido %}" class="btn btn-success btn-sm me-2" title="Imprimir" target="_blank"> 
                                <i class="fas fa-print"></i>
                                Imprimir
                            </a>
                          
                          <script>
                              function abrirImpresion(pedidoId) {
                                  const url = "{% url 'imprimir_venta' 0 %}".replace("0", pedidoId);
                                  const ventana = window.open(url, '_blank');
                                  ventana.print();
                              }
                          </script>
                          
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" class="text-center">No se encontraron pedidoss.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Botón para agregar nuevo pedidos -->
    <div class="text-end mt-3">
        <a href="{% url 'crear_pedido' %}" class="btn btn-success"> 
            <i class="fas fa-user-plus"></i> Agregar pedidos
        </a>
    </div>
     <!-- Paginación -->
     <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if pedidos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pedidos.previous_page_number }}&search={{ search_term }}">Anterior</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <span class="page-link">{{ pedidos.number }}</span>
            </li>
            {% if pedidos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pedidos.next_page_number }}&search={{ search_term }}">Siguiente</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    function deleteUsuario(pedidoId) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡Este pedido será eliminado y dado de baja!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirigir a la URL de eliminación (con el ID del producto)
                window.location.href = "{% url 'eliminar_pedido' 0 %}".replace("0", pedidoId);
                
            }
        });
    }
</script>
{% endblock %}
