<!-- add_sale.html -->

{% extends 'Base/base_home.html' %}

{% block content %}
<div class="container">
    <h2>Añadir Venta</h2>
    <form method="post" action="{% url 'agregar_venta' %}">
        {% csrf_token %}
        {{ venta_form.as_p }}
        <h3>Productos</h3>
        <div id="productos">
            <div class="form-group">
                <input type="text" name="productos[]" placeholder="Nombre del producto" required>
                <input type="number" name="cantidades[]" placeholder="Cantidad" min="1" required>
                <input type="number" step="0.01" name="precios[]" placeholder="Precio Unitario" min="0.01" required>
            </div>
        </div>
        <button type="button" id="agregar-producto" class="btn btn-secondary">Agregar Producto</button>
        <button type="submit" class="btn btn-primary">Añadir Venta</button>
    </form>
</div>

<script>
    document.getElementById('agregar-producto').addEventListener('click', function() {
        var container = document.getElementById('productos');
        var newProductDiv = document.createElement('div');
        newProductDiv.className = 'form-group';
        newProductDiv.innerHTML = `
            <input type="text" name="productos[]" placeholder="Nombre del producto" required>
            <input type="number" name="cantidades[]" placeholder="Cantidad" min="1" required>
            <input type="number" step="0.01" name="precios[]" placeholder="Precio Unitario" min="0.01" required>
        `;
        container.appendChild(newProductDiv);
    });
</script>
{% endblock %}
