{% extends 'base/base_home.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="text">
        <h1 class="text-center fw-bold mb-4"><i class="fas fa-shopping-cart"></i> Detalles de la Venta</h1>
    </div>
    
    <!-- Detalles de la venta -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0"><i class="fas fa-info-circle"></i> Información de la Venta</h5>
        </div>
        <div class="card-body">
            <p><strong>ID de Venta:</strong> {{ venta.id_venta }}</p>
            <p><strong>Cliente :</strong> {{ venta.id_cliente.nombre }} {{ venta.id_cliente.apellido }}</p>
            <p><strong>Fecha de Venta:</strong> {{ venta.fecha_registro }}</p>
            <p><strong>Estado:</strong> {{ venta.estado }}</p>
            <p><strong>Total de la Venta :</strong> {{ venta.costo_total }} Bs</p>
        </div>
    </div>

    <!-- Productos asociados a la venta -->
    
    <div class="table-responsive mt-4">
    <table class="table table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre del Producto</th>
                <th>Imagen</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.producto.nombre }}</td>

                <td>
                    {% if producto.producto.imagen_producto %}
                        <img src="{{ producto.producto.imagen_producto.url }}" alt="{{ producto.producto.nombre }}" width="60">
                    {% else %}
                        No disponible
                    {% endif %}
                </td>

                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.producto.precio_unitario }} Bs</td>
                <td>{{ producto.subtotal }} Bs</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No se encontraron productos en esta venta.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <!-- Botón para regresar -->
    <div class="mt-4 text-center">
        <button class="btn btn-dark" onclick="window.history.back();">
            <i class="fas fa-arrow-left"></i> Regresar
        </button>
    </div>
</div>
{% endblock %}
